<%- include ("partials/header") -%>
<!-- <div class="container">
    <form class="ui big form" style="margin: 20px auto; width: 50%;" action="/login" method="post">
        <h1 class="text-center">Login</h1>
        <div class="form-group">
            <input class="form-control ui field" type="text" name="username" placeholder="username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="password">
        </div>
        <div class="form-group text-center"><button class="ui button" type="submit">Login</button></div> 
    </form>
</div> -->

<div class="container">
    <div class=" ui middle aligned center aligned grid">
        <div class="column">
            <form class="box-shadow login-form ui big form" action="/login" method="post">
                <h1 class="text-center">Login</h1>
                <div class="ui secondary segment ui">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="text-center" style="margin-top: 20px;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn-nom btn ui primary labeled icon button"
                                        >
                                        <i class="unlock alternate icon"></i>
                                        Login
                                    </button>
                                </div>
                                <div class="col-6">
                                    <a href="/">
                                        <button id="back-home-button" type="button"
                                            class="btn-nom btn ui primary labeled icon button"
                                            style="background: #2f2fa2; border: 1px solid #2f2fa2;">
                                            <i class="home alternate icon"></i>
                                            Home
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<%- include ("partials/footer") -%>