<%- include ("partials/header") -%>

<!-- <div class="container">
    <div class=" ui middle aligned center aligned grid">
        <div class="column">
            <form class="box-shadow login-form ui big form" action="/login" method="post">
                <h1 class="text-center">Login</h1>
                <div class="ui secondary segment ui">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="text-center" style="margin-top: 20px;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn-nom btn ui primary labeled icon button"
                                        >
                                        <i class="unlock alternate icon"></i>
                                        Login
                                    </button>
                                </div>
                                <div class="col-6">
                                    <a href="/">
                                        <button id="back-home-button" type="button"
                                            class="btn-nom btn ui primary labeled icon button"
                                            style="background: #2f2fa2; border: 1px solid #2f2fa2;">
                                            <i class="home alternate icon"></i>
                                            Home
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <p class="text-center mt-4">Don't have an Account? <a href="/register"> Sign Up</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->


     <!--form area start-->
    <div class="form">

        <!--login form start-->
        <form action="/login" method="post" class="loginForm">
            <h2>Login</h2>
            <div class="icons">
                <a href="#"><img src="img/instagram.png" alt="facebook"></a>
                <a href="#"><img src="img/google-plus.png" alt="google"></a>
                <a href="#"><img src="img/twitter.png" alt="twitter"></a>
            </div>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" id="" placeholder="Password" required>
            <button type="submit" name="button">Login</button>
            <p class="options">Not Registered?<a href="/register"> Create an Account</a></p>
        </form>
        <!--login form end-->
    </div>
    <!--form area end-->
    

<%- include ("partials/footer") -%>